
</main>

<footer class="footer" role="contentinfo">
    <div class="container">
        
        <div class="row">
            <div class="col">
                <a class="footer__brand" href="/">
                    <img src="dist/images/logo-footer.png" alt="logo">
                </a>
            </div>
            <div class="col col-10">
                <nav class="footer__nav">
                    <a class="footer__nav-link" href="#">Cвязаться с нами</a>
                    <a class="footer__nav-link" href="mailto:reklama@wildjam.ru">reklama@wildjam.ru</a>
                    <a class="footer__nav-link" href="#">ул. Сущевская, д. 27, стр. 2</a>
                    <a class="footer__nav-link" href="tel:+74993933962">+7 (499) 393-39-62</a>
                </nav>
            </div>
        </div>
        
    </div>
</footer>