<header class="navigation">
    <div class="container">

        <a class="navigation__brand" href="index.html">
            <img src="dist/images/logo.png" alt="logo">
        </a>

        <button id="navMenu">
            <span></span>
        </button>

        <div class="navigation__wrap">
            <nav class="navigation__menu" role="navigation">
                <a href="index.html">Блогеры</a>
                <a href="index.html">Кейсы</a>
                <a href="index.html">exit agency</a>
                <a href="index.html">Контакты</a>
            </nav>

            <div class="navigation__lang">
                <a href="index.html">en</a> / <a href="index.html">ru</a>
            </div>
        </div>

    </div>
</header>

<main role="main">
