<header class="navigation">
    <div class="container">

        <a class="navigation__brand" href="/">
            <img src="dist/images/logo.png" alt="">
        </a>

        <nav class="navigation__menu" role="navigation">
            <a href="/">Блогеры</a>
            <a href="/">Кейсы</a>
            <a href="/">exit agency</a>
            <a href="/">Контакты</a>
        </nav>
        
        <div class="navigation__lang">
            <a href="/">en</a> / <a href="/">ru</a>
        </div>

    </div>
</header>

<main role="main">
