.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 1200px) {
        max-width: 1320px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }

    &-10 {
        flex: 0 0 auto;
        width: 83.33%;
    }
}