// Navigation
.navigation {
    height: 118px;
    user-select: none;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767.98px) {
            flex-wrap: wrap;
            background-color: rgba(#6E105E,.5);
            backdrop-filter: blur(4px);
        }
    }

    &__brand {
        display: inline-flex;

        img {
            width: 98px;
            height: 98px;
        }
    }

    #navMenu {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__wrap {
        display: contents;
        width: 100%;

        @media (max-width: 767.98px) {
            display: none;
            width: 100%;
            text-align: center;
        }
    }

    &__menu {
        @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
        }

        a {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;

            @media (max-width: 767.98px) {
                padding: .75rem 0;
                text-align: center;
            }

            & + a {
                margin-left: 30px;

                @media (max-width: 767.98px) {
                    margin-left: 0;
                }
            }
        }
    }

    &__lang {
        @media (max-width: 767.98px) {
            padding: .75rem 0;
        }
    }
}

// Breadcrumbs
.breadcrumb {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #EFF3F5;

    &__list {
        display: inline-flex;
        padding-left: 0;
        list-style: none;
    }

    &__item {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }

        &:not(:first-child):before {
            content: '/';
            position: relative;
            left: -5px;
        }

        span {
            padding: 3px 11px;
            border-radius: 5rem;
            color: #6E105E;
            background-color: rgba(#EFF3F5, .8);
        }
    }
}
