// Navigation
.navigation {
    height: 118px;
    user-select: none;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__brand {
        display: inline-flex;

        img {
            width: 98px;
            height: 98px;
        }
    }

    &__menu {

        a {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;

            & + a {
                margin-left: 30px;
            }
        }
    }

    &__lang {

    }
}

// Breadcrumbs
.breadcrumb {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #EFF3F5;

    &__list {
        display: inline-flex;
        padding-left: 0;
        list-style: none;
    }

    &__item {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }

        &:not(:first-child):before {
            content: '/';
            position: relative;
            left: -5px;
        }

        span {
            padding: 3px 11px;
            border-radius: 5rem;
            color: #6E105E;
            background-color: rgba(#EFF3F5, .8);
        }
    }
}
