@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Bootstrap
// @import "node_modules/bootstrap/scss/functions";
// @import "bootstrap/variables";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/root";
// @import "node_modules/bootstrap/scss/reboot";

// Swiper
@import "node_modules/swiper/swiper-bundle";
@import "swiper";

// Main
@import "reboot";
@import "grid";
@import "forms";
@import "nav";
@import "filter";
@import "sections/bloggers";
@import "sections/bloggers-single";
@import "sections/video";
@import "sections/slider";
@import "footer";
